Options -Indexes
<FilesMatch "\.(txt|sql|ini|lock|json)$">
	Deny from all
</FilesMatch>
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

#ErrorDocument 403 /projetos_web/TopCheque/App/Views/Includes/ErroAcesso.php
#ErrorDocument 404 /projetos_web/TopCheque/App/Views/Includes/ErroAcesso.php

RewriteEngine On
 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
 
RewriteRule ^(.+)$ index.php?path=$1 [QSA,L]