.ui.red.celled.table thead, .ui.red.celled.table tbody{
    text-align: center;
}

.dataTables_wrapper .dataTables_processing {
    position: fixed;
    top: 50%;
    left: 55%;
    width: 30%;
    height: 40px;
    margin-left: -20%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.5em;
}

.dataTables_filter {
    display: none;
}

.custom-modal .field {
    width: 80%;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.ui.negative.message {
    position: fixed;
    top: 50%;
    /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    /* Ajuste a posição horizontal conforme necessário */
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Defina um valor alto para garantir que fique acima dos outros elementos */
    background-color: #ff0000;
    /* Personalize a cor de fundo conforme desejado */
    color: #fff;
    /* Personalize a cor do texto conforme desejado */
    padding: 55px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    /* Opcional: Adicione sombra para realçar o elemento */
}

.ui.negative.message .header {
    margin-bottom: 10px;
}
.responsive-input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Estilo para o cabeçalho da coluna */
  th {
    white-space: nowrap;
  }

  .header.editModal{
    background-color: black;
    color: white;
  }

  