.ui.red.celled.table thead, .ui.red.celled.table tbody, .ui.blue.celled.table{
    text-align: center;
}

.dataTables_wrapper .dataTables_processing {
    position: fixed;
    top: 50%;
    left: 55%;
    width: 30%;
    height: 40px;
    margin-left: -20%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.5em;
}

.dataTables_filter {
    display: none;
}

.custom-modal .field {
    width: 80%;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

  .header.editModal{
    background-color: black;
    color: white;
  }